<?xml version="1.0"?>
<launch>

 <!-- joy node -->
  <node respawn="true" pkg="joy" type="joy_node" name="joy" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
  </node>

  <!-- Parameters -->
  <!-- param name="cmd_topic_vel" value="/guardian_robot_control/command" type="string"/ -->
  <param name="cmd_topic_vel" value="/guardian/cmd_vel" type="string"/>
  <param name="cmd_service_io" value="/modbus_io/write_digital_output" type="string"/>
  <param name="cmd_topic_ptz" value="/guardian_robot_control/command_ptz" type="string"/>
  
  <rosparam command="load" file="$(find guardian_joystick)/launch/ps3.yaml" />
  <node name="guardian_joystick" pkg="guardian_joystick" type="guardian_joystick" output="screen"/>
  
</launch>

